
{% set img_uri = node.field_image.entity.uri.value %}
{% set img_url = file_url(img_uri) %}
{% set img_alt = node.field_image.alt %}
{% set img_title = node.field_image.title %}
{% set length_image = node.field_image|length  %}
{% set img_arr = node.field_image %}


{% set image1000x990 = getUrlByImageStyle(img_uri, 'image1000x990')  %}
{% set image900x456 = getUrlByImageStyle(img_uri, 'image900x456')  %}

{% if gallery_layout == 'justified' %}
	<a class="image-popup-gallery" href="{{ img_url }}">
		<div class="gallery-item">
			<img src="{{ img_url }}" title="{{ img_title }}" alt="{{ img_alt }}">
			<div class="gallery-overlay">
				<div class="gallery-content">
					<div class="gallery-content-inner">
						<i class="ti-zoom-in"></i>
					</div>
				</div>
			</div>	
		</div>				
	</a>
{% elseif gallery_layout == 'masonry_2_columns' or gallery_layout == 'masonry_3_columns' or gallery_layout == 'masonry_4_columns' or gallery_layout == 'masonry_5_columns' %}
	<div class="masonry-item gallery-item">
		<img src="{{ img_url }}" title="{{ img_title }}" alt="{{ img_alt }}">
		<div class="gallery-overlay">
			<div class="gallery-content">
				<div class="gallery-content-inner">
					<a class="image-popup-gallery" href="{{ img_url }}">
						<i class="ti-zoom-in"></i>
					</a>
					<a href="{{ url }}">
						<i class="ti-gallery"></i>
					</a>
				</div>
			</div>
		</div>	
	</div>			
{% else %}
	<div class="gallery-item">
		<img src="{{ image1000x990 }}" title="{{ img_title }}" alt="{{ img_alt }}">
		<div class="gallery-overlay">
			<div class="gallery-content">
				<div class="gallery-content-inner">
					<a class="image-popup-gallery" href="{{ image1000x990 }}">
						<i class="ti-zoom-in"></i>
					</a>
					<a href="{{ url }}">
						<i class="ti-gallery"></i>
					</a>
				</div>
			</div>
		</div>	
	</div>	
{% endif %}