{% block content %}
	<h1{{ attributes }}>
	{{ title_prefix }}
	{{ title_suffix }}
	<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}">
		<img src="{{ site_logo }}" alt="{{ site_name }}" />
	</a>
	</h1>
{% endblock %}