{% set style_footer = node.field_style_footer.0.value %}
{% set color = node.field_color_footer.0.value %}
{% if color == 'black' %}
    {% set color = 'bg_black' %}
{% elseif color == 'light' %}
    {% set color = 'bg_lighter' %}
{% elseif color == 'brown' %}
    {% set color = 'bg_brown' %}
{% elseif color == 'white' %}
    {% set color = 'bg_white' %}
{% endif %}
{% if style_footer == 'style1' %}
    <div id="no1_footer" class="footer_style vesion2 wrap">
        <div id="no1_footer_top" class="footer {{ color }}">
            <div class="container">
                <div class="container_in">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 column0">
                            <div class="contact_us">
                                <div class="row">
                                    {% if page.footer_column_1 %}
                                        {{ page.footer_column_1 }}
                                    {% endif %}
                                    {% if page.footer_column_2 %}
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            {{ page.footer_column_2 }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-phone-12 col-xs-6 col-sm-6 col-md-3 column column1">
                            <h6>{{ 'Company'|t}} </h6>
                            {% if page.footer_column_3 %}
                                {{ page.footer_column_3 }}
                            {% endif %}
                        </div>
                        <div class="col-phone-12 col-xs-6 col-sm-6 col-md-3 column column2">
                            <h6>{{ 'Help'|t}} </h6>
                            {% if page.footer_column_4 %}
                                {{ page.footer_column_4 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif style_footer == 'style2' %}
    <div id="no1_footer3" class="footer_style vesion2 wrap">
        <div id="no1_footer_top" class="footer {{ color }}">
            <div class="container">
                <div class="container_in">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 com-xs-12">
                            <h6>{{ 'Company'|t}} </h6>
                            {% if page.footer_column_3 %}
                                {{ page.footer_column_3 }}
                            {% endif %}
                        </div>
                        <div class="box_finfo col-md-6  col-sm-6 com-xs-12">
                            {% if page.footer_column_5 %}
                                <div class="no1_copyright">
                                    {{ page.footer_column_5 }}
                                </div>
                            {% endif %}
                            {% if page.footer_column_6 %}
                                {{ page.footer_column_6 }}
                            {% endif %}
                        </div>
                        <div class="box_fsocial col-md-3 col-sm-3 com-xs-12">
                            <h6>{{ 'Help'|t }}</h6>
                            {% if page.footer_column_4 %}
                                {{ page.footer_column_4 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif style_footer == 'style3' %}
    <div id="no1_footer4" class="footer_style vesion2 wrap">
        <div id="no1_footer_top" class="footer {{ color }}">
            <div class="container">
                <div class="container_in">
                    <div class="row">
                        <div class="box_fmenu_top col-sm-12">
                            {% if page.footer_column_7 %}
                                {{ page.footer_column_7 }}
                            {% endif %}
                        </div>
                        <div class="box_fcontent">
                            {% if page.footer_column_8 %}
                                {{ page.footer_column_8 }}
                            {% endif %}
                            <div class="box_finfo col-md-6  col-sm-6 com-xs-12">
                                {% if page.footer_column_9 %}
                                    {{ page.footer_column_9 }}
                                {% endif %}
                            </div>
                            <div class="box_fsocial col-md-3 col-sm-3 com-xs-12">
                                {% if page.footer_column_10 %}
                                    {{ page.footer_column_10 }}
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div id="no1_footer" class="footer_style vesion2 wrap">
        <div id="no1_footer_top" class="footer">
            <div class="container">
                <div class="container_in">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 column0">
                            <div class="contact_us">
                                <div class="row">
                                    {% if page.footer_column_1 %}
                                        {{ page.footer_column_1 }}
                                    {% endif %}
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        {% if page.footer_column_2 %}
                                            {{ page.footer_column_2 }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-phone-12 col-xs-6 col-sm-6 col-md-3 column column1">
                            <h6>{{ 'Company'|t}} </h6>
                            {% if page.footer_column_3 %}
                                {{ page.footer_column_3 }}
                            {% endif %}
                        </div>
                        <div class="col-phone-12 col-xs-6 col-sm-6 col-md-3 column column2">
                            <h6>{{ 'Help'|t}} </h6>
                            {% if page.footer_column_4 %}
                                {{ page.footer_column_4 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}