{% set style_header = node.field_style_header.0.value %}
{% if style_header == 'style1' %}
    <div id="no1_header" class="wrap">
        <div class="no1_header_top">
            <div class="container">
                <div class="no1_module row">
                    {% if page.header_top %}
                        {{ page.header_top }}
                    {% endif %}
                    {% if page.menu_top %}
                        <div class="header-account col-md-2 col-xs-6">
                            <div class="myaccount">
                                <div class="customer-ct content">
                                    {{ page.menu_top }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="no1_header_logo" class="clearfix">
            <div class="container">
                <div class="container_in">
                    <div class="row">
                        {% if page.logo %}
                            {{ page.logo }}
                        {% endif %}
                        <div id="no1_menu" class="col-md-7 col-lg-7 col-sm-3 col-xs-3">
                            <div class="no1_mainmenu">
                                <div id="no1_mainnav">
                                    {% if page.main_menu %}
                                        {{ page.main_menu }}
                                    {% endif %}
                                    <div id="no1_mommenu" class="menu-offcanvas hidden-md hidden-lg">
                                        
                                        <span class="btn2 btn-navbar offcanvas">
                                            <i class="fa fa-align-justify"></i>
                                            <span class="overlay"></span>
                                        </span>
                                        {% if page.menu_m %}
                                            {{ page.menu_m }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                            <div class="no1_menu_right">
                                <div class="block_topsearch">
                                    {% if page.search %}
                                        <div class="top-search">
                                            <a data-menu-type="searchmobile" class="show-top-search visible-xs" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                            <div class="no1-serachbox-pro  hidden-xs">
                                                <div class="no1-searbox-content">
                                                    {{ page.search }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if page.header_cart %}
                                        <div class="top-cart">
                                            <div class="mycart mini-cart">
                                                <div class="block-minicart">
                                                    {{ page.header_cart}}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if page.search_m %}
            <div class="form-search" id="form-search-mobile">
                <div class="no1-searbox-content">
                    {{ page.search_m }}
                </div>
            </div>
        {% endif %}
        
    </div>
{% elseif style_header == 'style2' %}
    <div id="no1_header" class="wrap no1_header2">
        <div class="no1_header_top hidden-xs">
            <div class="container">
                <div class="no1_module row">
                    {% if page.menu_top %}
                        <div class="header-left col-md-4 col-sm-5 col-xs-12">
                            <div class="no1_myaccount">
                                <div class="customer-ct content">
                                    {{ page.menu_top }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="header-logo col-md-4 col-sm-2 col-xs-6 visible-md visible-lg visible-sm">
                        {% if page.logo %}
                            {{ page.logo }}
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12 no1_search">
                        <div class="no1_menu_right">
                            <div class="block_topsearch">
                                {% if page.header_cart %}
                                    <div class="top-cart">
                                        <div class="mycart mini-cart">
                                            <div class="block-minicart">
                                                {{ page.header_cart }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if page.search %}
                                    <div class="top-search">
                                        <a data-menu-type="searchmobile" class="show-top-search visible-xs" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        <div class="no1-serachbox-pro  hidden-xs">
                                            <div class="no1-searbox-content">
                                                {{ page.search }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="no1_header_bottom" class="clearfix hidden-xs">
            <div class="container">
                <div class="container_in">
                    <div class="row">    
                        <div id="no1_menu" class="no1_menu">
                            <div class="no1_mainmenu">
                                <div id="no1_mainnav">
                                    {% if page.main_menu %}
                                            {{ page.main_menu }}
                                    {% endif %}    
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div id="no1_mommenu" class="menu-offcanvas menu_mobile visible-xs">
            <div class="col-xs-4 header-menu">
                <span class="btn2 btn-navbar offcanvas leftsidebar" style="display:block !important">
                    <i class="fa fa-align-justify"></i>
                    <span class="overlay"></span>
                </span>
            </div>
            {% if page.logo_m %}
                <div class="col-xs-4 header-logo">
                    {{ page.logo_m }}
                </div>
            {% endif %}
            
            {% if page.menu_m %}
                {{ page.menu_m }}
            {% endif %}
        </div>
    </div>
{% elseif style_header == 'style3' %}
    <div class="con_no1_topsite row">
        <div class="box_menu col-md-3 col-sm-3 hidden-xs">
            
            <div id="no1_header_logo" class="clearfix">
                <div class="container_in">
                    <div>
                        <h1 class="responsv">
                        <a href="{{ path('<front>') }}" title="{{ 'Magento Commerce'|t }}">
                            <img alt="{{ 'Logo'|t }}" src="{{ logo_site}} ">
                        </a>
                        </h1>
                        {% if page.search_site %}
                            <div class="block_topsearch">
                                <div class="top-search">
                                    <div class="no1-serachbox-pro hidden-xs">
                                        <div class="no1-searbox-content">
                                            <div class="form-search">
                                                {{ page.search_site }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        
                        <div id="no1_menu">
                            <div class="no1_mainmenu">
                                <div id="no1_mainnav">
                                    {% if page.menu_site %}
                                        {{ page.menu_site }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if page.header_left %}
                            {{ page.header_left }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="top-header">
                <div class="no1_header_top">
                    <div class="no1_module row">
                        {% if page.header_site %}
                            {{ page.header_site }}
                        {% endif %}
                        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-12 no1_search">
                            <div class="no1_myaccount hidden-xs">
                                <div class="customer-ct content">
                                    {% if page.menu_top %}
                                        {{ page.menu_top }}
                                    {% endif %}
                                </div>
                            </div>
                            {% if page.header_cart %}
                                <div class="no1_menu_right">
                                    <div class="block_topsearch">
                                        <div class="top-cart">
                                            <div class="mycart mini-cart">
                                                <div class="block-minicart">
                                                    {{ page.header_cart }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="header-logo col-xs-12 visible-xs">
                            {% if page.logo %}
                                {{ page.logo }}
                            {% endif %}
                            <div id="no1_mommenu" class="menu-offcanvas hidden-md hidden-lg">
                                <span class="btn2 btn-navbar offcanvas">
                                    <i class="fa fa-align-justify"></i>
                                    <span class="overlay"></span>
                                </span>
                                {% if page.menu_m %}
                                    {{ page.menu_m }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if page.header_right %}
                <div class="bt-header">
                    {{ page.header_right }}
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div id="no1_header" class="wrap">
        <div class="no1_header_top">
            <div class="container">
                <div class="no1_module row">
                    {% if page.header_top %}
                        {{ page.header_top }}
                    {% endif %}
                    {% if page.menu_top %}
                        <div class="header-account col-md-2 col-xs-6">
                            <div class="myaccount">
                                <div class="customer-ct content">
                                    {{ page.menu_top }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="no1_header_logo" class="clearfix">
            <div class="container">
                <div class="container_in">
                    <div class="row">
                        {% if page.logo %}
                            {{ page.logo }}
                        {% endif %}
                        <div id="no1_menu" class="col-md-7 col-lg-7 col-sm-3 col-xs-3">
                            <div class="no1_mainmenu">
                                <div id="no1_mainnav">
                                    {% if page.main_menu %}
                                        {{ page.main_menu }}
                                    {% endif %}
                                    <div id="no1_mommenu" class="menu-offcanvas hidden-md hidden-lg">
                                        
                                        <span class="btn2 btn-navbar offcanvas">
                                            <i class="fa fa-align-justify"></i>
                                            <span class="overlay"></span>
                                        </span>
                                        {% if page.menu_m %}
                                            {{ page.menu_m }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                            <div class="no1_menu_right">
                                <div class="block_topsearch">
                                    {% if page.search %}
                                        <div class="top-search">
                                            <a data-menu-type="searchmobile" class="show-top-search visible-xs" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                            <div class="no1-serachbox-pro  hidden-xs">
                                                <div class="no1-searbox-content">
                                                    {{ page.search }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if page.header_cart %}
                                        <div class="top-cart">
                                            <div class="mycart mini-cart">
                                                <div class="block-minicart">
                                                    {{ page.header_cart }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if page.search_m %}
            <div class="form-search" id="form-search-mobile">
                <div class="no1-searbox-content">
                    {{ page.search_m }}
                </div>
            </div>
        {% endif %}
        
    </div>
{% endif %}