{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
  {{ item.attributes }}
    {% if menu_level == 0 %}
      <ul class="mainnav">
    {% else %}

      <ul class="level0">
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          'expanded',
          'dropdown',
          item.in_active_trail ? 'active',
        ]
      %}
      {% if menu_level == 0 and item.is_expanded %}
        <li{{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}">
          <span class="title">{{ item.title }}</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
      {% elseif menu_level == 1 %}
          <li{{ item.attributes.addClass(item_classes) }}>
        {% if item.attributes.hasClass('no-link') %}
          <h3 class="headtitle">{{ item.title }}</h3>
        {% else %}
          <a href="{{ item.url }}">{{ item.title }}</a>
        {% endif %}
      {% else %}
        <li{{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}