{% set img = file_url (node.field_image_blog.0.entity.uri.value) %}
{% set img_alt = node.field_image_blog.0.alt %}
{% if (node.getRevisionAuthor().user_picture.entity.uri.value) %}
    {% set pictures_url = node.getRevisionAuthor().user_picture.entity.uri.value %}
    {% set pictures = file_url (pictures_url) %}
{% else %}
    {% set pictures = '#' %}
{% endif %}
{% if not page %}
    {% if blog_style == 'blog_default' %}
        <div class="postWrapper">
            <div class="post-featured">
                {% if img %}
                    <a class="post-img" href="{{ url }}">
                        <img src="{{ img }}" alt="{{ img_alt }}">
                    </a>
                {% endif %}
            </div>
            <div class="post-content">
                <div class="post-meta">
                    <div class="box-date">
                        <span><i class="fa fa-clock-o"></i> {{ node.created.value|date('d F Y') }} </span>
                    </div>
                    
                    <div class="post-info">
                        <span>{{ 'By:'|t }} {{ author_name }}</span>
                    </div>
                    <div class="post-view">
                        <span>{{ node.field_blog_comments.comment_count }}  {{ 'comment'|t}} </span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="{{ url }}">{{ node.getTitle()|slice(0,20) }}</a>
                </div>
                <div class="post-excerpt">
                    <p>{{ node.body.summary|length > 292 ? node.body.summary|slice(0,292) ~ '...' : node.body.summary }}</p>
                </div>
            </div>
            
            
        </div>
    {% elseif blog_style == 'blog_masonry' %}
        <div class="postWrapper masonry-item">
            <div class="post-featured">
                {% if img %}
                    <a class="post-img" href="{{ url }}">
                        <img src="{{ img }}" alt="{{ img_alt }}">
                    </a>
                {% endif %}
            </div>
            <div class="post-content">
                <div class="post-meta">
                    <div class="box-date">
                        <span><i class="fa fa-clock-o"></i> {{ node.created.value|date('d F Y') }} </span>
                    </div>
                    <div class="post-info">
                        <span>{{ 'By:'|t }} {{ author_name }}</span>
                    </div>
                    <div class="post-view">
                        <span>{{ node.field_blog_comments.comment_count }}  {{ 'comment'|t}}</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="{{ url }}">{{ node.getTitle()|slice(0,20) }}</a>
                </div>
                <div class="post-excerpt">
                    <p>{{ node.body.summary|length > 292 ? node.body.summary|slice(0,292) ~ '...' : node.body.summary }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="postWrapper masonry-item class_text">
            <div class="post-featured">
                {% if img %}
                    <a class="post-img class_image" href="{{ url }}">
                        <img src="{{ img }}" alt="{{ img_alt }}">
                    </a>
                {% endif %}
            </div>
            <div class="post-content">
                <div class="post-meta">
                    <div class="box-date">
                        <span><i class="fa fa-clock-o"></i> {{ node.created.value|date('d F Y') }} </span>
                    </div>
                    <div class="post-info">
                        <span>{{ 'By:'|t }} {{ author_name }}</span>
                    </div>
                    <div class="post-view">
                        <span>{{ node.field_blog_comments.comment_count }}  {{ 'comment'|t}}</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="{{ url }}">{{ node.getTitle()|slice(0,25) }}</a>
                </div>
                <div class="post-excerpt">
                    <p>{{ node.body.summary|length > 292 ? node.body.summary|slice(0,200) ~ '...' : node.body.summary }}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    <div id="no1_content" class="wrap">
        <div class="post-featured">
            <div class="box-date">
                <span><i class="fa fa-clock-o"></i> {{ node.created.value|date('d F Y') }} </span>
            </div>
            <div class="post-title">
                <a >{{ title }}</a>
            </div>
            {% if img %}
                <a class="post-img" >
                    <img src="{{ img }}" alt="{{ img_alt }}">
                </a>
            {% endif %}
        </div>
        <div class="container">
            <div class="row">
                <div id="no1_main" class="col-md-8 col-md-offset-2 col-main">
                    <div id="no1_mainmidle">
                        <div class="blog-page">
                            <div class="postWrapper">
                                <div class="post-meta">
                                    <div id="author-bio">
                                        
                                        <div class="author-info">
                                            <h4> {{ 'By:'|t }} {{ author_name }} </h4>
                                            
                                        </div>
                                        <div class="author-avatar">
                                            <img alt="" src="{{ pictures }}" >
                                        </div>
                                    </div>
                                    <div class="post-tag">
                                        <p class="blog-tt"><span class="bl-cl">{{ '/Tags'|t}}</span> {{ content. field_blog_tags }}</p>
                                        
                                    </div>
                                    <div class="blog-social">
                                        <h5>{{ 'Share:'|t}} </h5>
                                        <ul>
                                            <li>
                                                <a target = "_blank" class="fa fa-facebook" title="" target="_self" href="http://www.facebook.com/sharer.php?u={{ pageURL }}"> </a>
                                            </li>
                                            <li>
                                                <a target= "_blank" class="fa fa-twitter" title="" target="_self" href="https://twitter.com/intent/tweet?original_referer={{ pageURL }}&amp;text={{ title }}&amp;tw_p=tweetbutton&amp;url={{ pageURL }}" data-original-title="NO1 Theme" data-toggle="tooltip"> </a>
                                            </li>
                                            <li>
                                                <a target= "_blank" class="fa fa-google-plus" title="" target="_self" href="https://plusone.google.com/_/+1/confirm?hl=en-US&amp;url={{ pageURL }}" data-original-title="NO1 Theme" data-toggle="tooltip"> </a>
                                            </li>
                                            <li>
                                                <a target= "_blank" class="fa fa-tencent-weibo" title="" target="_self" href="http://pinterest.com/pin/create/button/?url={{ pageURL }}&amp;media={{ imageoneURL }}&amp;description={{ title }}" data-original-title="NO1 Theme" data-toggle="tooltip"> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                <div class="post-content">
                                    <div class="post-category">
                                        <a href="">/ {{ content.field_categories_blog }}</a>
                                    </div>
                                    {{ content.body }}
                                    
                                    <div class="blog-coments">
                                        <h5>{{ node.field_blog_comments.comment_count }} {{ 'Comment'|t}} </h5>
                                        {{ content.field_blog_comments }}
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}