{% set img = file_url (node.uc_product_image.0.entity.uri.value) %}
{% set img_alt = node.uc_product_image.0.alt %}
<ol id="products-list" class="products-list clearfix">
    <li class="item odd">
        <div class="item-inner product_list_style">
            <div class="col-left">
                {% if img %}
                    <div class="item-img">
                        <a class="product-image have-additional" title="Cfg Armani Black" href="detail.html">
                            <span class="img-main">
                                <img  alt="{{ img_alt }}" src="{{ img }}">
                            </span>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-right">
                <div class="item-title">
                    <a href="{{ url }}">{{ node.getTitle()|t }}</a>
                </div>
                <div class="item-price">
                    <div class="price-box">
                        <span class="regular-price">
                            <span class="price">
                                <span class="price1">{{ content.price }} </span>
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="desc std">
                    <p>{{ node.body.summary|length > 292 ? node.body.summary|slice(0,292) ~ '...' : node.body.summary }}</p>
                </div>
                <div class="actions">
                    {{ content.add_to_cart }}
                </div>
            </div>
        </div>
    </li>
</ol>