{% set product_belongs = node.field_products_belong.0.value %}
{% set product_image = node.uc_product_image %}
{% set image = file_url (node.uc_product_image.0.entity.uri.value) %}
{% set img_alt = node.uc_product_image.0.alt %}
<div class="box_cat masonry-item">
    {% if image %}
        <div class="post-featured">
            <img src="{{ image }}" alt="{{ img_alt }}">
        </div>
    {% endif %}
    <div class="box_info">
        <h4 class="cat_name">{{ node.getTitle()|t }}</h4>
        {% if product_belongs == 'clothes' %}
            <h3 class="cat_product">
            
            {{ content.field_categories_product_clothes }}
            </h3>
        {% elseif product_belongs == 'houseware' %}
            <h3 class="cat_product">
            
            {{ content.field_categories_product_housewa }}
            </h3>
        {% elseif product_belongs == 'cosmetic' %}
            <h3 class="cat_product">
            
            {{ content.field_categories_product_cosmeti }}
            </h3>
        {% elseif product_belongs == 'electronic' %}
            <h3 class="cat_product">
            
            {{ content.field_categories_product_electro }}
            </h3>
        {% endif %}
        <p class="cat_des">{{ node.body.summary|length > 192 ? node.body.summary|slice(0,100) ~ '...' : node.body.summary }}</p>
        {{ content.add_to_cart }}
    </div>
</div>