{% block content %}
	<div{{ attributes.setAttribute('id', 'logo') }}>
		{{ title_prefix }}
        {% if label %}
            {{ label }}
        {% endif %}
        {{ title_suffix }} 	  	
		<a href="{{ path('<front>') }}" class="nav-brand">
			{% if second_logo != '' and header_layout == 'transparent' %}<img src="{{ second_logo }}" alt="{{ 'Home'|t }}" id="light_logo">{% endif %}
			<img src="{{ site_logo }}" alt="{{ 'Home'|t }}" id="main_logo" class="mt-5">
		</a>
		{% if site_name %}{{ site_name }}{% endif %}
	</div>
{% endblock %}

