
{% set uri_img =  content['#block_content'].field_bg_image.entity.uri.value %}
{% set img_url = "background-image: url(" ~  file_url(uri_img) ~ ");"  %}

<div{{ attributes }} data-jarallax data-speed="0.6"  style="{{ img_url }}">
    {{ title_prefix }}
    <!-- Google Maps -->
    {{ title_suffix }}
	<div class="container">
		<div class="row">
			{{ content.body  }}

			<!-- Contact Form Column Start -->
			<div class="col-md-5 col-sm-12 col-12 offset-md-1 wow fadeIn animated" data-wow-delay=".3s" data-wow-duration="1.5s">
				<div class="contact-form-md white-background">
					<h5 class="center-holder">{{ content.field_from_title  }}</h5>
					<!-- Form Start -->
					{{ content.field_contact_form  }}
					<!-- Form End -->
				</div>
			</div>	
			<!-- Contact Form Column End -->		
		</div>
	</div>
</div>
