<div class="row">
	<div class="col-md-6 col-sm-6 col-12">
		<!-- Product Images & Alternates -->
		<div class="product-images">
			<!-- Begin Product Images Slider -->
			<div class="main-img-slider">
							
				{% for i, item in product.field_product_images['#items'] %}
                    {% set item_image_uri = item.entity.uri.value %}
                    {% set item_image_alt = item.alt %}
                    {% set img_url = file_url(item_image_uri) %}
                    {% set item500x500_url = getUrlByImageStyle(item_image_uri, '500x500') %}
                    <figure>
					  <a href="#" data-size="1400x1400">
						       
					      <img src="{{ item500x500_url }}" {% if i > 0 %}data-lazy="{{ item500x500_url }}" {% endif %}  alt="{{ item_image_alt }}" />
					  </a>                                
					</figure> 
                {% endfor %}
			</div>
			<!-- End Product Images Slider -->	
			<!-- Begin product thumb nav -->
			<ul class="thumb-nav">
				{% for i, item in product.field_product_images['#items']  %}
					{% if loop.length > 1 %}
	                    {% set item_image_uri = item.entity.uri.value %}
	                    {% set item_image_alt = item.alt %}
	                    {% set img_url = file_url(item_image_uri) %}
	                    {% set item500x500_url = getUrlByImageStyle(item_image_uri, '500x500') %}
	                    <li><img src="{{item500x500_url }}"  alt="{{ item_image_alt }}" /></li>
	                {% endif %}
                {% endfor %}
			</ul>
			<!-- End product thumb nav -->							
		</div>												
	</div>
	<div class="col-md-6 col-sm-6 col-12">
<!--	  <h2>Trailer</h2>
	  <video width="100%" height="240" controls>
       <source src="{{ product.field_trailer }}" type="video/mp4" >
    </video> -->
		<div class="single-product">
			<h2>{{ product_entity.title.value }}</h2>
		   {{ product.body }}
			{# <div class="product-review-area">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<span>(1 customer review)</span>
			</div> #}

			<!-- Price Start -->
			<div class="single-product-price">
				<h4>{{ product.variation_price }}</h4>
			</div>
			<!-- Price End -->

			<p>{{ product.field_short_description|render|striptags }}</p>
			
			<!-- Quantity Form and Button Start -->
			<div class="quantity mt-30">
				{{ product.variations ? product.variations }}
			</div>
			<!-- Quantity Form and Button End -->

			<div class="product-categories">
				<div class="display-b blog-grid-2-button">
					<span>{{ 'Category:'|t }} </span>
					{{ product.field_movies }}
				</div>
				<div class="display-b blog-grid-2-button">
					<span>{{ 'Actors:'|t }} </span>
					{{ product.field_actors }}
				</div>										
			</div>	
						

		</div>
	</div>				
</div>

