{#  header 1 : classic - index 
    header 2 : top-logo / index-header-top-logo 
    header 3 : left-side-navigation / gallery-left-side-navigation 
    header 4 : transparent / index-header-transparent 
    header 5 : full-width / index-header-full-width 
#}
{% if header_layout == 'top_logo' %}
  {% if page.top_header %}
    <!-- Top-Bar START -->
    <div id="top-bar" class="hidden-md-down">
      <div class="container">
        <div class="row">
            {{ page.top_header }}
        </div>
      </div>
    </div>  
    <!-- Top-Bar END -->
  {% endif %} 

  <!-- Navbar START -->
  <header>
    <nav id="navigation7" class="container navigation">
      <div class="nav-header-center">
        {% if page.header %}
          {{ page.header }}
        {% endif %} 
        <div class="nav-toggle"></div>
      </div>

      {% if page.main_menu %}
        {{ page.main_menu }}
      {% endif %}         
    </nav>  
  </header> 
  <!-- Navbar END -->
{% elseif header_layout == 'left_side_navigation' %}
  <!-- Navbar START -->
  <header id="navigation-push">
    <nav id="navigation5" class="container navigation">   
      <div class="nav-menus-wrapper">
        <div class="center-holder">
          {% if page.header %}
            {{ page.header }}
          {% endif %} 
        </div>      
        {% if page.main_menu %}
          {{ page.main_menu }}
        {% endif %} 

        <!-- Social Links Start -->
        <div class="mt-20 center-holder">
          {{ page.soc_network_left_side_menu }}
        </div>
        <!-- Social Links End -->
      </div>          
    </nav>  

    <!-- Small Size Options For Navbar Start -->
    <div class="small-size-header">
      <div class="container">
        <div class="row">
          <div class="col-10 left-holder">
            <div class="small-size-header-logo"></div>        
          </div>
          <div class="col-2">
            <button class="btn-show"><i class="ti-menu"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Small Size Options For Navbar End -->
    
  </header> 
  <!-- Navbar END -->
  <div class="push-content">

{% elseif header_layout == 'transparent' %}
  <!-- Navbar START -->
  <header id="nav-transparent">
    <nav id="navigation1" class="container navigation">
      <div class="nav-header">
        {% if page.header %}
          {{ page.header }}
        {% endif %} 
        <div class="nav-toggle"></div>
      </div>

      {% if page.main_menu %}
        {{ page.main_menu }}
      {% endif %}        
    </nav>  
  </header> 
  <!-- Navbar END -->
{% elseif header_layout == 'full_width' %}
  {% if page.top_header %}
    <!-- Top-Bar START -->
    <div id="top-bar" class="hidden-md-down">
      <div class="container">
        <div class="row">
            {{ page.top_header }}
        </div>
      </div>
    </div>  
    <!-- Top-Bar END -->
  {% endif %}

  <!-- Navbar START -->
  <header>
    <nav id="navigation4" class="container-fluid navigation">
      <div class="nav-header">
        {% if page.header %}
          {{ page.header }}
        {% endif %} 
        <div class="nav-toggle"></div>
      </div>



      {% if page.main_menu %}
        {{ page.main_menu }}
      {% endif %}          
    </nav>  
  </header> 
  <!-- Navbar END -->

{% else %}
  {% if page.top_header %}
    <!-- Top-Bar START -->
    <div id="top-bar" class="hidden-md-down">
      <div class="container">
        <div class="row">
          {{ page.top_header }}  
        </div>
      </div>
    </div>  
    <!-- Top-Bar END -->
  {% endif %}
  <!-- Navbar START -->
  <header>
    <nav id="navigation4" class="container navigation">
      <div class="nav-header">
        {{ page.header }}
        <div class="nav-toggle"></div>
      </div>



      {% if page.main_menu %}
        {{ page.main_menu }}
      {% endif %}             
    </nav>  
  </header> 
  <!-- Navbar END -->

{% endif %}