{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage home' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    node_type == 'homepage' ? 'home' : root_path and node_type != 'blog_post' ? 'page',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <head-placeholder token="{{ placeholder_token|raw }}">
        
        <!-- Stylesheet -->
        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">
        
        {% if general_setting_tracking_code != '' %}
            {{ general_setting_tracking_code|t }}
        {% endif %}
        {% if custom_css != '' %}
            <style type="text/css" media="all">
              {{ custom_css|t }}
            </style>
        {% endif %}
        
        <link id="navigation_menu" rel="stylesheet" type="text/css" href="{{ evockan_theme_path ~ '/css/navigation' ~ color_primary ~ '.css' }}">

        <link id="main_styles" rel="stylesheet" type="text/css" href="{{ evockan_theme_path ~ '/css/styles' ~ color_primary ~ '.css' }}">
        
        <title>{{ head_title|safe_join(' | ') }}</title>
    </head>

    <body{{ attributes.addClass(body_classes)}} >
        <a href="#main-content" class="visually-hidden focusable">
            {{ 'Skip to main content'|t }}
        </a>

     


      <div id="evockan-map" class="hidden" data-lat="{{ nvs_geolocation_lat }}" data-lang="{{ nvs_geolocation_lang }}"></div>

      <div id="evockan-colorPrimary" class="hidden" data-colorprimary="{{ color_primary }}"></div>

      {{ page_top }}
      {{ page }}
      {{ page_bottom }}
      

      <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>